# Python virtual environments
venv/
.venv/
env/
ENV/

# Python cache & compiles
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Streamlit config/states
.streamlit/

# OS specific files
.DS_Store
Thumbs.db
